
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */